<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Smartprompt</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/scroll.css" />
		<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' />
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' />
	</head>

	<body onLoad="pageScroll()" >
	<input type="text" onkeypress="keypress()">
		<div class="header">
			<div class="wrapper">
				<h1><a href="/">Smartprompt</a></h1>
				<pre>Best Prompter Online!				A/Z to control speed. Shift to pause.</pre>
				
				<span class="id">#<%= @post.id %></span>

			</div>
		</div>

		<div class="content">
			<div class="wrapper">
				<div class="scroll-area">
					<h1><%= @post.title %></h1>
					<p>
						<% for word in @processed_words %>
							<span style=<%= word.getwordstyle %>>
							<%= word.word %>
							</span>
						<% end %>
						
					</p>
				</div>
			</div>
		</div>
		<script>
		var speed = 0;
				function pageScroll() {
    			window.scrollBy(0,speed); // horizontal and vertical scroll increments
    				scrolldelay = setTimeout('pageScroll()',30); // scrolls every 100 milliseconds
				}
				function increaseSpeed(){
					speed +=1
				}
				function decreaseSpeed(){
					speed -=1
				}
				function stopScroll() {
    				clearTimeout(scrolldelay);
				}
				window.onkeydown = function(e) {
   var key = e.keyCode ? e.keyCode : e.which;

   if (key == 16) {
       stopScroll();
   }else if (key == 65) {
       decreaseSpeed();
   
}else if(key == 90) {
       increaseSpeed();
   }
}
   				window.onkeyup = function(e) {
   var key = e.keyCode ? e.keyCode : e.which;

   if (key == 16) {
       pageScroll();
   }
}
   			
		</script>
	</body>
</html>
