<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Smartprompt</title>
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="scroll.css" />
		<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' />
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' />
	</head>

	<body>
		<div class="header">
			<div class="wrapper">
				<h1>Smartprompt</h1>
				<p>Best Prompter Online!</p>	
			</div>
		</div>
		<div class="content">
			<div class="wrapper">	
				<p><%= @post.id %></p>
				<p><%= @post.title %></p>
				<p><%= @post.body %></p>
		</div>
	</body>
%>