body {
	margin: 0px;
	padding: 0px;
}

.header	{
		background: rgba(227, 227, 227, 0.75);
		width: 100%;
		text-align: center;
		border-bottom: solid 1px black;
		position: fixed;
		height: 100px;
	}

.header h1 {
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.content {

	margin: 0 auto;
	padding-top: 100px;
	width: 960px;
	border: solid 1px black;
	min-height: 200%;
}

.inputform {
	max-width: 956px;
	min-height: 100px;
	min-width: 100px;
}